// ici les réglages généraux

//font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


//couleurs principales (cf specifications techniques)
$primary_color : #FD2D01;
$secondary_color : #FFD7D7;
$tertiary_color : #4E5166;


// mixins générales
@mixin noStyleLinks {
    a {
        text-decoration: none;
        color: inherit;

        &:visited {
            color: inherit
        }
    }
}

@mixin hoverShadows {
    box-shadow: 0 0 20px $primary_color;
}

@mixin formButton {
    border-radius: 20%;
    border: 2px solid $primary_color;
    background-color: inherit;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px 0 5px;
}

// réglages appliqués sur toute la page

.global {
    display: flex;
}