// GENREAL SETTINGS

//font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


// mains colors
$primary_color : #FD2D01;
$secondary_color : #FFD7D7;
$tertiary_color : #4E5166;


// mixins 
@mixin noStyleLinks {
    a {
        text-decoration: none;
        color: inherit;

        &:visited {
            color: inherit
        }
    }
}

@mixin hoverShadows {
    box-shadow: 0 0 20px $primary_color;
}

@mixin formButton {
    border-radius: 20%;
    border: 2px solid $primary_color;
    background-color: inherit;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px 0 5px;
}

// general page settings
body {
    margin: 0px;
}

.global {
    display: flex;
}

main {
    margin: 8px;
}

@media screen and (max-width:400px) {
    .global {
        display: block;
    }
}