.card {
    margin-bottom: 50px;

    &-article {
        display: flex;
        justify-content: space-between;
        width: 75%;
        min-width: 350px;
        max-width: 700px;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 2px dashed $primary-color;
        border-radius: 20px;

        //handle different length od title or text
        &-text {
            margin-left: 10px;
            margin-top: 5px;

            h2 {
                margin: 0;
            }
        }

    }

    img {
        max-width: inherit;
        max-height: inherit;
        object-fit: contain;
    }

    &-aside {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        &-likes span {
            margin: 0 10px 0 10px;
        }

        p {
            margin: 0px;
        }
    }
}