.navigation {
    width: 33%;
    border-right: 3px double red;
    margin-right: 10px;
    max-width: 300px;
    min-width: 210px;

    ul {
        @include noStyleLinks;
        list-style: none;

        a {

            margin: 5px;
        }

        .nav-active {
            li {
                width: fit-content;
                background-color: $primary_color;
                color: white;
            }

        }

    }
}



.icon {
    background-image: url("../../assets/GroupoLogos/logo-left-font.png");
}